@tailwind base;
@tailwind components;
@tailwind utilities;

body{
position: relative;
width: 100vw;
height: 100vh;
    background:linear-gradient(180deg, #1A4362 0%, #3587A5 100%);;
}
::-webkit-scrollbar{
    display: none;
}